<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Popup</title>
    <link href="popup.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>

  <body>

    <div id="contener">
      <div id="aside-left">
        <ul id="ul-cat">
          <li v-for="client of Clients">{{ client }}</li>
        </ul>
        <input type="text" class="input-client" v-on:keyup.enter="addClient">
      </div>
      <div id='main'>
          <table id='payment-table'>
            <thead>
                <tr>
                  <td v-for="headTitel in tableHeader">
                    {{ headTitel }}
                  </td>
                </tr>
            </thead>
                <tbody>
                  <tr v-for="item in Data">
                    <td><input type="text" class="input-id" v-model="item.id"></td>
                    <td><input type="date" class="input-date" v-model="item.date"></td>
                    <td><input type="text" class="input-summa" v-model="item.summa"></td>
                    <td>
                      <select class="client-select" v-model="item.client">
                        <option v-for="client of Clients" v-bind:value="client">
                          {{ client }}
                        </option>
                      </select>
                    </td>
                    <td><input type="text" class="input-comment" v-model="item.comment"></td>
                  </tr>
                </tbody>
          </table>
          <button class="btn btn-add" name="ButtonAdd" v-on:click="">Добавить запись</button>
          <button class="btn btn-save" name="ButtonSave" v-on:click="setStorage">Сохранить</button>

          <pre>{{ JSON.stringify(Data, null, 2) }}</pre>
      </div>

    </div>

    <script src="paymentclass.js"></script>
    <script src="vueclass.js"></script>
    <script src="popup.js"></script>    
  </body>  
</html>